@import "icon_input.css";

html {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

body {
  position: relative;
  height: 100%;
}

nav {
  position: fixed;
  top: 0;
  background: #000;
  height: 50px;
  width: 100%;
}

header {
  position: sticky;
  top: 0px;
  background: #000 url('../img/header.jpg') no-repeat center top;
  background-size: cover;
  margin-top: 50px;
  height: calc(100vh - 50px * 2);
  transition: .5s;
}

.anim {
  height: 100px;
  background-position: center;
}

#choix {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#choix input, #choix a, main button {
  background: rgba(0, 0, 0, .7);
  box-shadow: 0 0 0 0 black,  inset 0 0 0 0 grey;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem;
  width: 20%;
  text-align: center;
  color: #FFF;
  font-family: 'Marck Script', cursive;
  font-size: 2rem;
  cursor: pointer;
  transition: .9s;
}

#choix input:hover, #choix a:hover, main button:hover {
  background: hsla(240, 100%, 55%, .7);
  box-shadow: 10px 10px 10px 2px black,  inset 1px 1px 6px 1px #2A2AFF;
  border: 1px solid blue;
}

#choix input:active, #choix a:active, main button:active {
  background: hsla(240, 100%, 55%, .7);
  box-shadow: 0 0 0 0 black,  inset -1px -1px 6px 1px #000;
  border: #000;
  transition: 0s;
}

#ident {
  display: none;
  height: 100%;
}

#ident div {
  display: inline-block;
  width: calc(50% - 2px);
  height: 100%;
  float: right;
  transition: .5s;
}

#ident div:hover {
  background: hsla(240, 100%, 55%, .1);
  box-shadow: inset 0 0 20px 1px #000;
}

#ident .connect {
  border-left: 1px solid lightgrey;
}

#ident .inscri {
  border-right: 1px solid lightgrey;
}

#ident form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#ident h2 {
  color: #FFF;
  font-size: 2rem;
  text-decoration: underline;
  font-family: 'Marck Script', cursive;
  margin-bottom: 25px;
}

#ident p {
  height: 5%;
  width: 50%;
  text-align: center;
}


#ident input, .genre label {
  background: #FFF;
  height: 5%;
  width: 50%;
  margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
  transition: .5s;
}

#ident .h {
  background: #FFF url('../img/icon_man.gif') center no-repeat;
  background-size: 80%;
}

#ident .f {
  background: #FFF url('../img/icon_woman.gif') center no-repeat;
  background-size: 80%;
}

.genre label {
  display: inline-block;
  margin: 0 16%;
  height: 100%;
  width: 13%;
  cursor: pointer;
  transition: .5s;
}

.selectgenre{
  box-shadow: inset 0 0 5px 1px #000;
}

#ident .genre input {
  margin: 0;
  width: auto;
  opacity: 0;
}

#ident input:focus{
  box-shadow: inset 0 0 10px 1px grey;
}

#ident input[type=submit], #ident button {
  background: rgba(0, 0, 0, .7);
  box-shadow: inset 0 0 0 0 grey;
  border: 1px solid black;
  border-radius: 10px;
  width: 20%;
  color: #FFF;
  cursor: pointer;
  transition: .9s;
}

#ident input[type=submit]:hover, #ident button:hover {
  background: hsla(240, 100%, 55%, .7);
  box-shadow: inset 1px 1px 6px 1px #2A2AFF;
  border: 1px solid blue;
}

#ident input[type=submit]:active, #ident button:active {
  background: hsla(240, 100%, 55%, .7);
  box-shadow: 0 0 0 0 black,  inset -1px -1px 6px 1px #000;
  border: #000;
  transition: 0s;
}

main {
  min-height: calc(100vh - 40px - 100px);
}

section {
  width: 70%;
  margin: 50px auto;
}

.bouton {
  text-align: center;
}

main button {
  background-color: #000;
  margin: 0 30px 50px;
  font-size: 1.5rem;
  width: 150px;
}

.contact {
  display: none;
}

.static {
  position: static;
  height: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Marck Script', cursive;
  font-size: 2rem;
  margin: 30px 0 0;
}

footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  bottom: 0;
  background: #000;
  height: 50px;
  width: calc(100vw - 37px);
  transition: .9s;
}

footer p, footer a {
  color: #FFF;
  line-height: 50px;
}

footer li {
  display: inline-block;
  margin: 0 5px;
}

footer img {
  height: 30px;
}
