html {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

body {
  position: relative;
  height: 100%;
}

.filtres {
  background: #000;
  padding: 10px 50px;
}

.filtres input, .filtres select {
  height: 30px;
}

.champrecherche {
  margin-bottom: 10px;
}

.champrecherche input {
  width: 100%;
}

.filtre {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.filtre select {
  width: 15%;
}

main {
  padding: 20px 50px;
  min-height: calc(100vh - 90px - 20px - 70px);
  text-align: center;
}

main div {
  border: 1px solid red;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

main a {
  display: block;
  background: #000 center no-repeat;
  background-size: cover;
  height: 300px;
  width: 225px;
  /*padding: 5px;*/
  margin-bottom: 20px;
  color: #FFF;
}

main .genre {
  text-align: left;
  font-size: .8rem;
  height: 50%;
}

main .descript {
  position: relative;
  bottom: 0px;
  text-align: left;
  font-size: .7rem;
  height: 50%;
  overflow: hidden;
}

footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: #000;
  height: 50px;
  width: calc(100vw - 37px);
}

footer p, footer a {
  color: #FFF;
  line-height: 50px;
}

footer li {
  display: inline-block;
  margin: 0 5px;
}

footer img {
  height: 30px;
}
