@import url('footer.css');
@import url('nav.css');
@import url('filtre.css');

html {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

body {
  position: relative;
  height: 100%;
}

main {
  padding: 20px 50px;
  min-height: calc(100vh - 90px - 20px - 70px);
  text-align: center;
}

main div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

main a {
  display: block;
  background: #000 center no-repeat;
  background-size: cover;
  height: 300px;
  width: 225px;
  padding: 5px;
  margin-bottom: 20px;
  color: #FFF;
}

main .genre {
  text-align: left;
  font-size: .8rem;
  height: 50%;
}

main .descript {
  position: relative;
  bottom: 0px;
  text-align: left;
  font-size: .7rem;
  height: 50%;
  overflow: hidden;
}
