nav {
  position: fixed;
  bottom: 0px;
  width: 200px;
  margin: 0 calc(100vw / 2 - 100px - 20px);
  padding: 10px;
  text-align: center;
}

nav h2 {
  font-family: 'Marck Script', cursive;
  font-size: 2rem;
  height: 30px;
}

nav ul {
  margin-top: 10px;
  display: none;
}

nav li {
  margin: 5px 0;
}

nav h2, nav a {
  color: red;
  line-height: 30px;
}

nav a:hover {
  color: #000;
}
